.img {
	text-align: center;
}

.clearfix {
  overflow: auto;
}
.venn {
  text-align: center;
  height: 200px;
  width: 200px;
  float: left;
  border-radius: 50%;
  
}

.green {
  background-color: rgba(0, 255, 0, .5);
  position: relative;
  left: 50px;
}

.blue {
  background-color: rgba(0, 0, 255, .5);
  position: relative;
  left: -50px;
}
.poll {
	text-align: center;
}
.pds-box {
	margin: 0 auto !important;
}

body#content {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white !important;
}

.ui.pointing.menu {
	width: 100% !important;
}